# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/8.0/en/server-configuration-defaults.html

[mysqld]
# 配置 MySQL 的缓存
table_open_cache=2000
table_definition_cache=2000
innodb_buffer_pool_size=512M
innodb_buffer_pool_chunk_size=256M
innodb_buffer_pool_instances=8
key_buffer_size = 1024M
join_buffer_size = 256M
sort_buffer_size = 32M
read_buffer_size = 4M

# 设置 MySQL 数据库的字符集为 utf8mb4
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci

# 设置数据库名和表名是否大小写敏感
lower_case_table_names=1

# 设置 MySQL 数据库的默认存储引擎为 InnoDB
default-storage-engine=InnoDB

# 配置 MySQL 的日志
log_error=/var/lib/mysql_log/error.log
slow_query_log=1
slow_query_log_file=/var/lib/mysql_log/mysql-slow.log

max_connections=10000
max-connect-errors=1000

#sql_mode=ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# 服务器唯一ID，默认是1, 要和slave库不同
server-id=1

# 启用二进制日志，从库追踪主库的日志文件名开头,有些数据库是mysql-bin,有些是binlog,具体可以在主库mysql环境下输入mysql> show master status查看
log-bin=binlog

[mysql]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4
